@font-face {
  font-family: 'icomoon';
  src: url('../style/iconos/fonts/icomoon.eot?lwlfc0');
  src: url('../style/iconos/fonts/icomoon.eot?lwlfc0#iefix') format('embedded-opentype'),
    url('../style/iconos/fonts/icomoon.ttf?lwlfc0') format('truetype'),
    url('../style/iconos/fonts/icomoon.woff?lwlfc0') format('woff'),
    url('../style/iconos/fonts/icomoon.svg?lwlfc0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-linkedin2:before {
  content: "\eaca";
}

/* Estilo html*/

body {
  font-family: 'Roboto', sans-serif; 
  color: #FFF;
}

h1, h2, h3, h4 {
  align-self: flex-start;
}

.hide {
  display: none;
}

/* Estilos Header (Nav) */


header {
  background-color: white;
  color: black;
}

#logo {
  vertical-align: top;
  margin-top: .8rem;
}

.navbar {
  display: flow-root;
  padding-top: .3rem;
}

nav,
.floating,
.collapsible {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  line-height: 260%;
  color: black;
}

 nav li a:hover {
cursor: pointer;
font-size: 1.1em;
transition: all .4s;
} 

.link-desktop,
.link-desktop li {
  display: none;
  text-decoration: none;
  list-style: none;
  float: right;
  margin: 0 0.6em;
  color: black;
}

#mobile,
.link-mobile {
  text-decoration: none;
  list-style: none;
  margin: 0 0.6em;
  color: black;
}

#mobileCollapse {
  width: 2.1rem;
  height: 2.1rem;
  background: #FFF;
  cursor: pointer;
  margin: .8rem;
  display: inline-block;
  vertical-align: super;
  border: 1px solid #DDD;
  border-radius: 6px;
}

#mobileCollapse span {
  width: 85%;
  height: .15rem;
  margin: .25rem auto;
  display: block;
  background: #888;
  border-radius: 7px;
}

#mobileCollapse :first-child {
  margin-top: .5rem;
}

/* 
.modal-contenido{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}
*/

#mobile{
  display: none;
/*   position:absolute; */
  transition: all 1s;
 } 

.link-mobile{
  position: relative; 
  display: list-item;
}

#mobile:target{
  display: block;
  pointer-events:auto;
} 

/* Estilos secciones */

main section {
  display: flex;
  min-height: 90vh;
  margin: 0;
  flex-direction: column;
}

#hero {
  background-image: url(../style/img/taxi.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
}

#hero-box{
  height: 39vh;
  margin-top: 26.5vh;
  color: #FFF;
}

#info {
text-align: center;
color: #FFF;
}


#cel{
  width: 94vw;
  margin-top: 5vh;
  margin-left: 3vw;
}

#info h2{
  margin-top: 4vh;
  font-weight: 500;
  font-size: 1.35em;
}

#cel img {
  width: 60vw;
  margin-top: 2vh;
}

.foot-section {
  margin-top: 4.5vh;
  margin-left: 2vw;
  font-size: 1.05em;
  font-weight: 500;
}

#conductor {
  background-image: url(../style/img/conduce.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  /*position: fixed;  Sit on top of the page content */
  width: 100vw; 
  height: 90vh; 
  background-color: rgba(0,0,0,0.5);
/*   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#conductor-text {
margin-left: 8vw;
margin-top: 13vh;
}

#conductor-text h2{
  font-size: 1.25em;
  font-weight: 600;
}

#conductor-text h3{
  font-size: 1.1em;
  font-weight: 200;
  margin-top: 1 vh;
  margin-bottom: 1vh;
}


#tarifa {}

.yellow {
  background-color: #F7B632;
}

/* Modales */

.login-content{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}

.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}

#login:target{
  opacity:1;
  pointer-events:auto;
}


footer {
  background-color: #5E5E5E;
  color: #FFF;
}